/*
 * @file
 * Provides the layout styles for layout_fullwidth.
 */

.layout--fullwidth {
  display: flex;
  flex-wrap: wrap;
}

.layout--fullwidth .fullwidth--bg-1 {
  flex: 0 1 100%;
  background: url(../../img/fullwidth--bg-1.jpg) left top no-repeat;
}

.layout--fullwidth .fullwidth--bg-2 {
  flex: 0 1 100%;
  background: url(../../img/fullwidth--bg-2.jpg) left top no-repeat;
}

.layout--fullwidth .layout__region {
  flex: 0 1 100%;
}

/*
@media screen and (min-width: 40em) {
  .layout--fullwidth > .layout__region--top-first,
  .layout--fullwidth > .layout__region--top-second {
    flex: 0 1 50%;
  }
  .layout--fullwidth > .layout__region--first,
  .layout--fullwidth > .layout__region--third {
    flex: 0 1 33%;
  }
  .layout--fullwidth > .layout__region--second {
    flex: 0 1 34%;
  }
}
*/