/* ##################################################################### */
/* ######### SASS GENERATED STYLE FROM YOURTHEME/SCSS/UTILITIES ######## */
/* ##################################################################### */
.ui-dialog-off-canvas {
  opacity: .9;
  width: 400px !important;
}

.dialog-off-canvas-main-canvas {
  padding: 0 !important;
}

#drupal-off-canvas option {
  background-color: #fff;
  color: black;
  max-width: 40%;
}

#drupal-off-canvas select {
  width: 100%;
}

#drupal-off-canvas textarea,
#drupal-off-canvas select[size],
#drupal-off-canvas select[multiple] {
  height: 200px;
  width: 100%;
}
