@import 'layouts/layout_region';
@import 'layouts/onecol';
@import 'layouts/twocol_section';
@import 'layouts/threecol_section';
@import 'layouts/fourcol_section';

.full-container>* {
  max-width: $max-width-container;
  margin: 0 auto;
}

%container,
.container,
.containers {
  max-width: 1240px;
  margin: 0 auto;
}
