@import 'layouts/layout_region';
@import 'layouts/onecol';
@import 'layouts/twocol_section';
@import 'layouts/threecol_section';
@import 'layouts/fourcol_section';

.full-container {
  .region {
    @extend %container;

    &.region-content {
      max-width: 100%;
      margin: auto;


    }
  }
}

.path-user {
  .full-container-content .region-content {
    @extend %container;
  }
}

.region {
  @extend %container;

  * {
    max-width: 100%;
    height: auto;
  }
}

%container,
.container,
.containers {
  max-width: $max-width-container;
  margin: 0 auto;
}
