@import 'regions/preheader';
@import 'regions/header';
@import 'regions/precontent';
@import 'regions/content';
@import 'regions/postcontent';
@import 'regions/prefooter';
@import 'regions/footer';


// Extend para aplicar flex por defecto donde se llame vía " @extend %flex-regions "
%flex-regions {
  display: flex;
  padding: .5rem;

  >* {
    flex: 1;
  }
}
