/* [start] MEDIA QUERY HELPER */
@import '../mixins/_mixin_mediaqueries.scss';

.clasedesarrollo {
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;

  &::after {
    content: " desktop ";
    display: block;
    z-index: 99999999999;
    background-color: red;
    color: white;
    font-size: 1em;
    position: fixed;
    bottom: 20px;
    padding-left: 10px;
    padding-right: 5px;
    left: 0px;
    text-transform: lowercase;
    font-weight: bold;

    @include media(xxs) {
      content: " xxs ";
    }

    @include media(xs) {
      content: " xs ";
    }

    @include media(sm) {
      content: " sm ";
    }

    @include media(md) {
      content: " md ";
    }

    @include media(lg) {
      content: " lg ";
    }

    @include media(xl) {
      content: " xl ";
    }

    @include media(xxl) {
      content: " xxl ";
    }
  }
}

/* [end] MEDIA QUERY HELPER */
