@mixin fullhide {
  display: none;
  visibility: hidden;
}

%fullhide,
.fullhide {
  @include fullhide;
}

@mixin element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* clip: rect(1px, 1px, 1px, 1px); */
  overflow: hidden;
  height: 0;
  width: 0 !important;
}

%element-invisible,
.element-invisible {
  @include element-invisible;
}
